@use '../base/variables' as vars;

section {
  padding: 2em;
  text-align: center;
  background-color: vars.$secondary-color;
  // color: vars.$text-color;
  display: flex;
  flex-direction: column;
}
